@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F7FC;
  margin: 40px;
}

.ip_card {
  padding: 20px;
  width: fit-content;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0);
  transition: 0.8s;
}

@media screen and (min-width: 800px) {
  .ip_card {
    font-size: 40px;
  }
}

.ip_card:hover {
  box-shadow: 14px 14px 30px rgba(55, 84, 170, 0.15),
    -14px -14px 40px rgba(255, 255, 255, 1),
    inset 0px 0px 8px rgba(255, 255, 255, 0.2),
    inset 14px 14px 30px rgba(55, 84, 170, 0),
    inset -14px -14px 40px rgba(255, 255, 255, 0),
    0px 0px 8px rgba(255, 255, 255, 0);
}

.top {
  display: flex;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.location {
  width: 100%;
}

.title {
  font-size: 8px;
  color: #a3a3a3;
}

.textstd {
  font-size: 10px;
  color: #616161;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
  .title {
    font-size: 12px;
  }

  .textstd {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}



#flagimg {
  margin-left: 0.2em;
}

.breaker {
  border: 0.1px solid #e2e2e2;
}